.title {
    margin: 0;
    padding-top: 20px;
    font-family: 'Montserrat-bold';
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
}

.container {
    margin-top: 30px;
}

.grid1 {
    display: flex;
    background-color: #E0E0E0;
    align-items: flex-start;
    margin-top: 40px;
}

.grid1_item1 {
    width: 50%;
}

.grid1_item1 h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.grid1_item2 {
    width: 50%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    display: flex;
    font-size: 15px; 
}

.pt {
    font-weight: 900;
}

.pd {
    margin-left: 10px;
}

.download_cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.download_cv p {
    text-align: center;
}

.btn {
    background-color: #d25a9f;
    margin-top: 20px;
}

.btn:hover {
    background-color: #005a84;
    color: white;
}

.grid2 {
    display: flex;
    background-color: #E0E0E0;
    align-items: flex-start;
    margin-top: 40px;
}

.grid2_item1 {
    width: 50%;
    text-align: center;
}

.grid2_item1 h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.grid2_item2 {
    width: 50%;
    text-align: center;
}

.university p {
    font-weight: 900;
}

@media (max-width: 1200px) {
    
    .grid1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .grid1_item1 {
        width: 100%;
        text-align: center;
    }
    
    .grid1_item2 {
        width: 100%;
    }

    .grid2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .grid2_item1 {
        width: 100%;
        text-align: center;
    }

    .grid2_item2 {
        width: 100%;
        text-align: center;
    }
}