.container {
    font-family: 'Montserrat';
}

.title {
    margin-top: 30px;
    padding-top: 20px;
    font-family: 'Montserrat-bold';
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
}

.item_wrap {
    width: 100%;
    display: flex;
}

.item_wrap .item_icon {
    color: #d25a9f;
    background-color: #E0E0E0;
}

.item_wrap .item_des {
    background-color: #E0E0E0;
}

.item_wrap .item_des .nature_of_work .p1 {
    color: #d25a9f;
}
